weights/
predictions/
asrf_dataset/
c2f_base/

results/*.log
results/asrf_finalize.log
results/asrf_train_s1.log

common/__pycache__/
repos/**/__pycache__/
repos/**/.git/
repos/ASFormer/data
repos/DiffAct/datasets
repos/MS-TCN2/
repos/DiffAct/datasets/
repos/DiffAct/trained_models/
